body{
    background-color: lightgray;
}

.big-blue-header {
    height: 300px;
    width: 80%;
    background-color: rgb(48, 61, 114);
    margin: 0 auto;
}

.navbar {
    width: 80%;
    height: 75px;
    margin: 0 auto;
    background-color: white;
}

.profile-photo {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color:rgb(48, 61, 114);
}